<div class="container">
<%= render 'list', book: @book %>
<div>
<% @books.each do |book| %>
<div>
  <h2>Books</h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(book.id) do %>
           <%= image_tag book.user.get_profile_image(100, 100) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to book_path(book.id) do %>
           <%= book.title %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td><%= book.body %><td>
      </tr>
    </tbody>
  </table>
  <% end %>
</div>

</div>
</div>