<div class="container">
<%= render 'users/list', book: @book %>

<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(current_user.id) do %>
           <%= image_tag current_user.get_profile_image(100, 100) %><br>
           <label class="user_name"><%= current_user.name %></label>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(@book.id) do %>
           <%= @book.title %>
          <% end %>
        </td>
        <td>
          <%= @book.body %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>